{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock %}
{% block content %}


    <section class="py-5 text-center container" style="margin-top: -2rem; margin-bottom: -2rem;">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">The Astro Gallery</h1>
            <p class="lead text-muted">The mind-blowing images from the far deep space, The intergalactic images, Taken from telescope which can look into the past. Most of them are from James Webb Telescope and Hubble </p>

                <form class="form-inline center" method="GET">
                  <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search" value="{{ request.GET.search }}">
                  <button class="btn btn-outline-success my-2 my-sm-0" style="align-content: center" type="submit" value="Search Image">Search</button>
                </form>
          </div>
        </div>
   </section>


    <div class="album py-4 bg-light" style="padding-left: 1rem; padding-right: 1.5rem;">
        <div class="row" style="padding-bottom: 2rem">
        {% for image in  images %}
            <div class="col-sm-4">
                <div class="card" href="{{ image.get_absolute_url }}" style="width: 22rem; margin-bottom: 2rem">
                  <img class="card-img-top" src="{{ image.url }}" style="height: 20rem;" alt="Card image cap">
                  <div class="card-body" href="{{image.get_absolute_url }}">
                      <a class="card-title h5" href="{{ image.get_absolute_url }}">{{image.name}}</a>
                    <p class="card-text">{{ image.detail | truncatewords:20 }}</p>
                    <a href="{{ image.get_absolute_url }}" class="btn btn-outline-info">View</a>
                  </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
          {% endif %}

      {% if page_obj.paginator.num_pages %}
        {% for page in page_obj.paginator.page_range %}
{#            {% if page > 3 %}#}
{#                {{ break }}#}
{#            {% endif  %}#}
            {% if page_obj.number == page %}
                <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
            {% else  %}
                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
            {% endif  %}

        {% endfor %}
      {% else %}
        {% for page in page_obj.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
      {% endif %}

        {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
      {% endif %}
      </ul>
    </nav>
{% endblock %}
