{% extends 'gallery/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}New Image{% endblock %}

{% block content %}
      <h1 class="display-4 text-center">
          {% if update %}
                Update Image
            {% else %}
                New Image
            {% endif %}
      </h1>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{form | crispy}}
        <button class="btn btn-outline-info btn-block" type="submit">
            {% if update %}
                Update Image
            {% else %}
                New Image
            {% endif %}
        </button>
      </form>

{% endblock %}