<hr class="featurette-divider">
  <footer class="footer-light " style="background-color: #e3f2fd; padding-top: 3rem; padding-bottom: 3rem">
      <div class="container" >
            <p>The Astro Gallery </p>
          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
          <a href="https://www.linkedin.com/in/samir-patil-40830218b/"><i class="fa fa-linkedin"></i></a>
          <a href="https://twitter.com/sampatil1010"><i class="fa fa-twitter"></i></a>
          <a href="https://github.com/samirpatil2000"><i class="fa fa-github"></i></a>
      </div>
  </footer>
