{% load static %}
<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container">
        <a href="{% url 'images' %}" class="navbar-brand">Gallery</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="{% url 'image-new' %}" class="nav-link">
                      ADD IMAGE
                  </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr class="featurette-divider">